
.desc {
    text-align: center
}

.name {
    text-align: center;
    font-size: 4rem;
    color: #FBFEF2;


    /* Bright things in dark environments usually cast that light, giving off a glow */
    filter: drop-shadow(0 2px 3px);
    font-style: italic;
}

.stat {

    text-align: center;
    font-size: 1.5rem;
    color: #FBFEF2;

}

.statBlock {    
    padding: 1.5rem;
    background-color: #08001A;
    background-image: linear-gradient(#08001A, #25dec0);
} 

.title {
    color: #FBFEF2;
}
