
.desc {
    text-align: center;
    color: #08001A;
    font-size: 1.5rem;
}
.number {
    text-align: center;
    font-size: 5rem;
    color: #08001A;
    margin: 0;
    padding: 0;
}
.stat {
    text-align: center;
    font-size: 2.5rem;
    color: #08001A;
    margin: 0;
    padding: 0;
}

.statBlock {
    background-image: url('../../../assets/tealBG.svg');
    background-position: center;
    padding: 1.5rem;
}

.subtext {
    font-size: 2.5rem;
    color: #f8f0f0;
}
