
.desc {
    text-align: center;
    color: #f8f0f0;
    font-size: 1.5rem;
}
.number {
    text-align: center;
    font-size: 5rem;
    color: #08001A;
    margin: 0;
    padding: 0;
}
.stat {
    text-align: center;
    font-size: 2.5rem;
    color: #f8f0f0;
    margin: 0;
    padding: 0;
}

.statBlock {
    background: linear-gradient(
        145deg,
        rgb(37, 222, 192, 0.8) 0%,
        rgba(28, 226, 193, 0.01) 100%
    );
    padding: 1.5rem;
}

.subtext {
    font-size: 2.5rem;
    color: #f8f0f0;
}
