---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import messengerIcon from "../assets/messenger-icon.svg";
import instagramIcon from "../assets/instagram-icon.svg";
import whatsappIcon from "../assets/whatsapp-icon.svg";
---

<Layout title="Welcome to Astro.">
  <main class="text-center">
    <p>Welcome to</p>
    <h1>CHAT R3WIND</h1>
    <p class="about">
      A Spotify-like wrapped for all your chats where your data never leaves
      your browser.
    </p>

    <div class="btn">
      <button class="btn btn-primary"> Get Started </button>
      <button class="btn btn-secondary"> Examples </button>
    </div>

    <div class="flex justify-center space-x-6 icons">
      <Image src={messengerIcon} alt="Messenger" width={100} height={100} />
      <Image src={instagramIcon} alt="Instagram" width={105} height={105} />
      <Image src={whatsappIcon} alt="WhatsApp" width={100} height={100} />
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    justify-content: flex-start;
    min-height: 100vh;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #000000;
    color: #ffffff;
  }

  h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background: #ffffff; /*linear-gradient(to right, #2dd4bf, #ec4899);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .btn {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 9px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .btn-primary {
    background-color: #2dd4bf;
  }

  .btn-primary:hover {
    background-color: #14b8a6;
  }

  .btn-secondary {
    background-color: #ec4899;
    color: #ffffff;
  }

  .btn-secondary:hover {
    background-color: #db2777;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>
