---
import Layout from "../layouts/Layout.astro";
// import Masonry from "../components/Masonry.astro";
import StatCard from '../components/StatCard/StatCard'
import BiggestYapperCard from '../components/BiggestYapperCard/BiggestYapperCard'
import MissedCallsCard from '../components/MissedCallsCard/MissedCallsCard'
import StreakCard from '../components/StreakCard/StreakCard'
import ExpletivesCard from '../components/ExpletivesCard/ExpletivesCard'
import Names from '../components/Names/Names'
import LongestConvo from "../components/LongestConvo/LongestConvo";
import NoTextDays from "../components/NoTextDays/NoTextDays";
import FirstText from "../components/FirstText/FirstText";
---

<Layout title="Rewind">
  <main>
    
    <div class="header">
      <h1> Here's your rewind for...</h1>
      <Names client:load/>
    </div>

    <div class="cards">
      <section class="card">
        <StatCard client:load/>
      </section>
  
      <section class="card">
        <BiggestYapperCard client:load/>
      </section>
  
      <section class="card">
        <MissedCallsCard client:load/>
      </section>
  
      <section class="card">
        <StreakCard client:load/>
      </section>
  
      <section class="card">
        <ExpletivesCard client:load/>
      </section>

      <section class="card">
        <LongestConvo client:load/>
      </section>

      <section class="card">
        <NoTextDays client:load/>
      </section>

      <section class="card">
        <FirstText client:load/>
      </section>
    </div>
  </main>
</Layout>

<script>
</script>

<style>
  
main {
  display: flex;
  flex-flow: row nowrap;

  overflow: scroll;
  scroll-snap-type: x mandatory;

  width: 100vw;
  height: 100vh;
}

.card {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  scroll-margin: 0;
  
  height: 100vh;
  width: 100vw;
}

.cards {
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  text-align: center;

  scroll-snap-align: center;
  scroll-snap-stop: always;
  scroll-margin: 0;
  flex-shrink: 0;
  
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 721px) {
  main {
    display: block;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
    overflow: visible; 
  }

  .cards {
    columns: 3 450px;
    column-gap: 1rem;
    display: block;
  }

  .card {
    height: auto;
    width: auto;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
  }

  .header {
    height: auto;
    width: 100%;
  }
}

  /* main {
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem 1rem;
    font-family: monospace;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
  }

  p {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 5rem;
    font-weight: bold;
    background: #FBFEF2; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .btn {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 9px;
    transition: all 0.3s ease;
    letter-spacing: 0.05em;
    margin: 2rem;
    font-family: monospace;
  }

    .btn-container {
        justify-content: center;
        margin: 4rem 0;
    }
    .btn {
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
        border-radius: 9px;
        transition: all 0.3s ease;
        letter-spacing: 0.05em;
        margin: 2rem;
        font-family: monospace;
        text-transform: uppercase;
    }

    .btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    .btn-primary {
        background-color: #2dd4bf;
    }

    .btn-primary:hover {
        background-color: #0c776b;
    }

    .btn-secondary {
        background-color: #ec4899;
        color: #ffffff;
    }

  .icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .highlight {
    background: linear-gradient(to right, #2dd4bf, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    font-style: italic;
    padding: 0 0.2em;
  } */
</style>
