---
import Layout from '../layouts/Layout.astro'
import TotalMessages from '../components/Cards/TotalMessages/TotalMessages'
import BiggestYapper from '../components/Cards/BiggestYapper/BiggestYapper'
import MissedCallsCard from '../components/Cards/MissedCalls/MissedCalls'
import StreakCard from '../components/Cards/StreakCard/StreakCard'
import ExpletivesCard from '../components/Cards/Expletives/Expletives'
import TotalTime from '../components/Cards/TotalTime/TotalTime'
import Names from '../components/Names/Names'
import LongestConvo from '../components/Cards/LongestConvo/LongestConvo'
import NoTextDays from '../components/Cards/NoTextDays/NoTextDays'
import FirstText from '../components/Cards/FirstText/FirstText'
import Card from '../components/Card.astro'
---

<Layout title="Rewind">
    <main>
        <div class="header">
            <h1>Let's rewind for...</h1>
            <Names client:load />
        </div>

        <div class="cards">
            <Card>
                <BiggestYapper client:load />
            </Card>
            
            <Card>
                <ExpletivesCard client:load/>
            </Card>

            <Card>
                <FirstText client:load/>
            </Card>

            <Card>
                <LongestConvo client:load/>
            </Card>

            <Card>
                <MissedCallsCard client:load/>
            </Card>

            <Card>
                <NoTextDays client:load/>
            </Card>

            <Card>
                <TotalMessages client:load/>
            </Card>

            <Card>
                <TotalTime client:load/>
            </Card>
        </div>

        <div class="btn-container">
            <p>Want more insight into your chats? Try out AI summarizer!</p>
            <button class="btn btn-tertiary" id="summarizerBttn"
                >Summarize My Chat</button
            >
        </div>
    </main>

    <script>
        document.getElementById('summarizerBttn').onclick = () => {
            window.location.href = '/summarizer'
        }
    </script>

    <style>
        main {
            display: flex;
            flex-flow: row nowrap;

            overflow: scroll;
            scroll-snap-type: x mandatory;

            width: 100vw;
            height: 100vh;
        }

        /* .card {
            scroll-snap-align: center;
            scroll-snap-stop: always;
            scroll-margin: 0;

            height: 100vh;
            width: 100vw;
        } */

        .cards {
            margin: 0;
            padding: 0;
            display: flex;
        }

        .header {
            text-align: center;

            scroll-snap-align: center;
            scroll-snap-stop: always;
            scroll-margin: 0;
            flex-shrink: 0;

            width: 100vw;
            height: 100vh;
        }

        p {
            font-size: 1.25rem;
            padding: 0;
            margin: 0;
        }

        .btn-container {
            scroll-snap-align: center;
            scroll-snap-stop: always;
            scroll-margin: 0;
            flex-shrink: 0;

            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btn {
            font-size: 1.25rem;
            font-weight: 600;
            padding: 0.75rem 1.5rem;
            border-radius: 9px;
            transition: all 0.3s ease;
            letter-spacing: 0.05em;
            margin: 2rem;
            font-family: monospace;
            text-transform: uppercase;
        }
        .btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        }

        .btn-tertiary {
            background-color: #000000;
            color: #ffffff;
            border: 1px solid #ffffff;
        }

        .btn-tertiary:hover {
            background-color: #ffffff;
            color: #000000;
        }

        @media only screen and (min-width: 721px) {
            main {
                display: block;
                max-width: 1440px;
                margin: auto;
                height: 100vh;
                overflow: visible;
            }

            .cards {
                columns: 3 450px;
                column-gap: 1rem;
                display: block;

                margin: 0 1rem;
            }

            /* .card {
                height: auto;
                width: auto;
                margin-bottom: 1rem;
                display: inline-block;
                width: 100%;
            } */

            .header {
                height: auto;
                width: 100%;
            }

            .btn-container {
                margin-top: 4rem;
            }
        }
    </style>
</Layout>
