
.desc {
    text-align: center
}
.name {
    text-align: center;
    font-size: 3rem;
    color: #E52082;
    margin: 0;
    padding: 0;
    /* Bright things in dark environments usually cast that light, giving off a glow */
    filter: drop-shadow(0 2px 3px);
    font-style: italic;
}
.stat {
    text-align: center;
    font-size: 1.5rem;
    color: #25DEC0;
    margin: 0;
    padding: 0;
}
.card {
    background-color: #08001A;
    border-radius: 1rem;
    border: 0.2rem solid #FBFEF2;
    display: flex;
} 
.card-left {
    /* border: 0.1rem solid #a9cc3f; */
    padding: 1.5rem;
}
.card-right {
    /* border: 0.1rem solid #a9cc3f; */
    margin-right: 1rem;
}
.title {
    color: #FBFEF2;
}
