
.desc {
    text-align: left;
    font-size: 1.5rem;
    color: #FBFEF2;
}
.number {
    text-align: left;
    font-size: 5rem;
    color: #25DEC0;
    margin: 0;
    padding: 0;
}

.stat {
    text-align: left;
    font-size: 2rem;
    color: #25DEC0;
    margin: 0;
    padding: 0;
}

.statBlock {
    background: linear-gradient(
        145deg,
        rgba(102, 92, 175, 0.5) 0%,
        rgba(28, 226, 193, 0.01) 100%
    );

    padding: 1.5rem;
} 
