---
interface Props {
    className?: string
}

const {className = '' } = Astro.props
---

<div class={`card ${className}`}>
    <slot />
</div>

<style>
    .card {
        height: 100vh;
        width: 100vw;
        margin-bottom: 0.7rem;

        border: 0.2rem solid #FBFEF2;
        border-radius: 1rem;

        scroll-snap-align: center;
        scroll-snap-stop: always;
        scroll-margin: 0;
    }

    @media only screen and (min-width: 721px) {
        .card {
            height: 100%;
            width: 100%;
            display: flex;
            display: inline-block;
            overflow: hidden;
        }
    }
</style>
