---
interface Props {
  desc : string,
  stat : string
}

const { desc, stat } = Astro.props;
---

<!-- If needed, this card component could be resued for the final data visualization page -->
<div class="card">
  <h3>{desc}</h3>
  <h1>{stat}</h1>
</div>

<style>
  .card {
    background-color: #000000;
    border-radius: 1rem;
    border: 0.2rem solid #ffffff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .title {
    color: #ffffff;
  }
</style>
