---
interface Props {
  desc : string,
  stat : string
}

const { desc, stat } = Astro.props;
---

<div class="card">
  <h3>{desc}</h3>
  <h1>{stat}</h1>
</div>

<style>
  .card {
    background-color: #08001A;
    border-radius: 1rem;
    border: 0.2rem solid #FBFEF2;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  @media (max-width:700px)
    {
    .card {
        width: 100%;
        }
    }

  .title {
    color: #FBFEF2;
  }
</style>
