
.desc {
    text-align: left
}
.number {
    text-align: left;
    font-size: 3rem;
    color: #25DEC0;
    margin: 0;
    padding: 0;
}
.stat {
    text-align: left;
    font-size: 2.5rem;
    color: #E52082;
    margin: 0;
    padding: 0;
}
.card {
    background: linear-gradient(
        145deg,
        rgb(108, 80, 97) 0%,
        rgba(37, 222, 192, 0.05) 100%
    );
    border-radius: 1rem;
    border: 0.2rem solid #FBFEF2;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
} 
.card-left {
    /* border: 0.1rem solid #a9cc3f; */
    padding: 1.5rem;
}
.card-right {
    /* border: 0.1rem solid #a9cc3f; */
    margin-right: 1rem;
}
.title {
    color: #FBFEF2;
}
