@use "sass:list";

.desc {
    text-align: left;
    font-size: 1.5rem;
}

.number {
    text-align: left;
    font-size: 5rem;
    color: #25DEC0;
    margin: 0;
    padding: 0;
}
.stat {
    text-align: left;
    font-size: 2.5rem;
    color: #E52082;
    margin: 0;
    padding: 0;
}
.card {
    height: 100%;
    background-color: #08001A;
    border-radius: 1rem;
    border: 0.2rem solid #FBFEF2;
    display: flex;
} 
.card-left {
    /* border: 0.1rem solid #a9cc3f; */
    padding: 1.5rem;
}
.card-right {
    /* border: 0.1rem solid #a9cc3f; */
    margin-right: 1rem;
}
.title {
    color: #FBFEF2;
}

$dots: rgb(23, 33, 38);
$back: white;

.benday {  
    display: flex;
    overflow: hidden;

    height: 100%;
    width: 100%;
    // border-radius: 50%;
    // transform: rotate(30deg) ;
    
   
    // @mixin rad-grad($mark) {
    //   radial-gradient()
    // }
    // $back-image: ();
    //     @for $i from 1 through 5 {
    //       $back-image: append($back-image, rad-grad($i), $separator:comma);
    //   }
    $back-pos: ();
         @for $i from 0 through 13 {
          $back-pos: list.append($back-pos, (($i * 4) + vh) 0, $separator:comma);
      }
    
    
    
    background-image:
      radial-gradient(
        circle,
        $dots 85%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 80%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 75%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 70%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 65%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 60%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 55%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 50%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 45%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 40%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 35%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 30%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 25%,
        transparent 0
        ),
      radial-gradient(
        circle,
        $dots 20%,
        transparent 0
        );  
   
    background-size: 4vh 4vh;
    background-repeat: repeat-y;
    
    background-position: $back-pos;
    }