
.desc {
    text-align: left
}

.number {
    text-align: left;
    font-size: 3rem;
    color: #25DEC0;
    margin: 0;
    padding: 0;
}
.stat {
    text-align: left;
    font-size: 2.5rem;
    color: #E52082;
    margin: 0;
    padding: 0;
}

.statBlock {
    background: linear-gradient(
        145deg,
        rgb(108, 80, 97) 0%,
        rgba(37, 222, 192, 0.05) 100%
    );

    padding: 1.5rem;
} 

.title {
    color: #FBFEF2;
}
